.item-list-container {
  padding: 0 1.5rem;
}

.item-list-filter-buttons {
  display: flex;
  flex-wrap: wrap;
}

.item-list-filter-buttons > a {
  margin-right: 1rem;
}

.item-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 3rem;
}

.item-tile a {
  color: var(--text-color);
  text-decoration: none;
}

.item-tile img {
  max-width: 100%;
  aspect-ratio: 1;
  border-radius: 0.625rem;
  object-fit: cover;
  transition: all 300ms ease;
}

.item-tile img:hover {
  filter: brightness(0.8);
}

.item-list-container button {
  margin-right: 1rem;
  cursor: pointer;
}

.item-type {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}

.item-type:hover,
.item-type.selected {
  background-color: var(--accent-color);
  color: #ffffff;
}

.item-type.simple:hover,
.item-type.simple.selected {
  background-color: #e17654;
}

.item-type.rugged:hover,
.item-type.rugged.selected {
  background-color: #115e59;
}

.item-type.luxury:hover,
.item-type.luxury.selected {
  background-color: #161616;
}

.item-type.clear-filters {
  margin-left: -1rem;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  text-decoration: underline;
  color: var(--text-color);
}

.item-detail-container {
  padding: 0 1.5rem;
}

.item-detail-container .back-button {
  color: var(--text-color);
  text-decoration: none;
  margin-left: 1rem;
  transition: color 0.3s ease;
}

.item-detail-container .back-button:hover {
  color: var(--accent-color);
}

.item-detail {
  color: var(--text-color);
}

.item-detail img {
  max-width: 100%;
  border-radius: 0.625rem;
  margin-top: 2rem;
}

.item-detail h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.item-detail .item-price {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.item-detail .item-price span {
  font-weight: 700;
  font-size: 1.5rem;
}

.item-detail .link-button {
  background-color: var(--accent-color);
  color: #ffffff;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.2s ease-out;
}

.item-detail .link-button:hover {
  background-color: var(--hover-color);
}

@media (max-width: 768px) {
  .item-list {
    grid-template-columns: 1fr;
  }

  .item-detail img {
    margin-top: 2.5rem;
  }
}
